.nav {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.mx-auto{
    display: flex;
    gap: 3em;
}


.butom{
    display: flex;
    gap: 5em;
    flex-direction: row;
}

.book{

    background-color: #00b8b8;
    color: white;
    border-radius: 5em;
}

span {
    color: #00b8b8;
}



.NavDesign:hover{
    color: #00b8b8 !important;
    /* border-radius: 1em; */
}

